version: '3'

services:
  postgres-compose:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "12345678"
    ports:
      - "5437:5437"
    volumes:
      - C:\Users\clevisson.cruz\Documentos\Desenvolvimento\Docker-Compose\PostgreSQL
    networks:
      - postgres-compose-network

  pgadmin-compose:
    image: dpage/pgadmin4:4.27
    environment:
      PGADMIN_DEFAULT_EMAIL: "clevissonalgebra@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "PgAdmin2020!"
    ports:
      - "16543:80"
    depends_on:
      - postgres-compose
    networks:
      - postgres-compose-network

networks:
  postgres-compose-network:
    driver: bridge